---
title: Welcome
---

<form name="form1" method="post" style="text-align: center;">
  <div id="container-image" style="width: 996px; height: 919px; padding: 30px 0; border-radius: 50%; margin: 30px auto; position: relative; background-image: url('http://imgsrc.hubblesite.org/hu/db/images/hs-2009-32-c-large_web.jpg'); background-size: cover; background-position: center;">
    <div class="animated bounce" id="image" onclick="start()" style="width: 936px; height: 919px; border-radius: 50%; margin: 0 auto; background-image:url('/img/welcome.jpg'); background-repeat:no-repeat;">
      <h4 style="width: 936px; position: absolute; top: 360px; text-align: center; color: white;">Beat each level to go to the next. You only get three tries on each. If you fail, prepare to die.</h4>
      <h4 style="width: 936px; position: absolute; top: 380px; text-align: center; color: white;">Click anywhere to start. Have Fun!</h4>
    </div>
  </div>
</form>
<script language="JavaScript">
function start() {
  console.log('x');
  window.location.replace("first.html");
  }

</script>
